/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body p:last-of-type {
	margin-bottom: 0;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
	font-family: proxima-nova, sans-serif;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
	background-color: rgba(192, 164, 38, .50);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}
img {
	max-width: 100%;
}
.logo {
	float: left;
}
.logo {
	display: block;
	transition: all 0.5s ease-in-out;
	padding: 12px 0;
	width: 300px;
}
.full-width .full-width-inner {
	max-width: 1080px;
	margin: auto;
	width: 80%;
}
.full-width.inner-page.no-bottom-padding {
	padding-bottom: 0;
}
.shrink .logo {
	width: 175px;
	transition: all 0.5s ease-in-out;
}
.logo img {
	width: 100%;
	height: auto;
}
.inner {
	width: 80%;
	max-width: 1080px;
	margin: auto;
}
.hero {
	background-size: cover;
	overflow: hidden;
	position: relative;
	z-index: 1;
	padding-bottom: 56.25%;
	height: 0;
}
.hero .inner {
	position: relative;
}
.hero-page {
	padding: 150px 0;
	background-size: cover;
	position: relative;
	background-position: center;
}
.hero-page:after {
	position: absolute;
	content: '';
	background-color: rgba(91, 140, 162, .30);
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
}
.hero video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	max-width: 100%;
	min-width: 100%;
}
.tagline {
	max-width: 500px;
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
.tagline h1 {
	text-transform: uppercase;
	color: #fff;
	text-align: right;
	font-size: 80px;
	line-height: 1em;
}
.lang-item-en a, .lang-item-es a {
	font-weight: bold;
	font-size: 12px;
}
.hero:after {
	position: absolute;
	content: '';
	background-color: rgba(91, 140, 162, .30);
	top: 0;
	left: 0;
	z-index: 1;
	padding-bottom: 56.25%;
	width: 100%;
}
.navigation {
	float: right;
	display: table;
	padding: 20px 0;
	transition: all 0.5s ease-in-out;
}
.shrink .navigation {
	padding: 8px 0;
	transition: all 0.5s ease-in-out;
}
.navigation ul {
	font-size: 0;
	display: table-cell;
	vertical-align: middle;
	padding: 0;
}
.body-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: #000;
	opacity: 0;
	transition: all 0.25s ease-in-out;
}
.has-bg-img {
	padding: 50px 0;
	margin: 50px 0;
	background-size: cover;
	background-repeat: no-repeat;
}
.has-bg-img:last-of-type {
	margin-bottom: 0;
}
.reveal .body-overlay {
	opacity: .75;
	visibility: visible;
	transition: all 0.25s ease-in-out;
}
.navigation li {
	display: inline-block;
	font-size: 17px;
}
.navigation a {
	padding: 10px 15px;
	display: block;
	color: #fff;
	text-decoration: none
}
.navigation li:last-child a {
	border: 1px solid #fff;
	margin-left: 15px;
}

.mobile-navigation {
	display: none;
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(250px);
	width: 250px;
	background-color: #f5f5f5;
	transition: all 0.25s ease-in-out;
	height: 100%;
}
body .hamburger {
	right: 5%;
	position: absolute;
	display: none;
	transition: all 0.25s ease-in-out;
	outline: none;
	z-index: 10;
}
body.reveal .hamburger {
	transform: translateX(-265px);
	transition: all 0.25s ease-in-out;
	right: 0;
}
.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before, body .hamburger.is-active .hamburger-inner, body .hamburger.is-active .hamburger-inner:after, body .hamburger.is-active .hamburger-inner:before {
	background-color: #fff;
}
.reveal .mobile-navigation {
	transform: translateX(0);
	transition: all 0.25s ease-in-out;
	visibility: visible;
}
.icons-container {
	background-image: url(../img/squares-texture.jpg);
	position: relative;
	padding-top: 25px;
}
.icons-container .inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex: 1;
}
.icon {
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	text-align: center;
	flex: 1;
}
.icon img {
	height: 50px;
	margin: auto;
}

body .icon h3 {
	padding: 0 30px;
	margin: 15px 0;
}
.top-line-rule {
	padding-top: 25px;
	margin-top: 30px;
	border-top: 1px solid #c9c9c9;
}
body .inner-page .red-text h4 {
	color: #C1A51E;
	margin: 20px 0 5px;
}
#digi-identification {
	position: relative;
	z-index: 99;
	overflow: hidden;
}
#digi-identification:before {
	position: absolute;
	content: '';
	height: 100px;
	width: 100%;
	background-image: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,0)75%);
	top: 0;
}
.hero-page:before {
	position: absolute;
	content: '';
	height: 50px;
	width: 100%;
	background-image: linear-gradient(0deg, rgba(0,0,0,.4), rgba(0,0,0,0)20%);
	bottom: 0;
}
.digi-verification.inner {
	text-align: center;
	background-image: url(../img/squares-texture.jpg);
	z-index: 10;
	margin: auto;
	width: 100%;
	position: relative;
	top: 0;
}
.digi-verification.inner h2 {
	top: 20px;
	position: relative;
}
body h2 {
	margin: 0;
	font-size: 45px;
	text-transform: uppercase;
}
body h3 {
	margin: 0 0 15px;
	font-size: 22px;
	line-height: 1.25em;
}
body h4 {
	margin: 15px 0 10px;
}
body ul {
	padding: 0 0 0 17px;
	margin: 0;
}
body p, pre {
	margin: 0 0 15px;
}
body p:last-child, pre:last-child {
	margin-bottom: 0;
}
section#products, section#partnerships {
	padding: 50px 0;
}
.centered-text {
	text-align: center;
}
.right-text {
	text-align: right;
}
.left-text {
	text-align: left;
}
.product-container {
	padding: 5% 0;
}
#products {
	position: relative;
	background-color: #fff;
	z-index: 2;
}
#products .parallaxer-container:nth-child(even) .product-container {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: none;
	width: 70%;
	height: 130%;
	right: 0;
}
#products .parallaxer-container:nth-child(odd) .product-container {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: none;
	width: 70%;
	height: 130%;
	left: 0;
}
body .dzsparallaxer:not(.mode-oneelement) {
	background: none;
}
.product-container ~ .inner {
	padding: 5% 0;
}
.parallaxer-container {
	margin: 2.5% auto 5%;
}
.product-info-box {
	padding: 15% 0;
	max-width: 500px;
	background-color: #fff;
	padding: 50px;
	border: 2px solid #c1a525;
	position: relative;
}
body .product-info-box ul {
	margin-top: 15px;
}
.inner-page {
	padding: 50px 0;
	position: relative;
}
#products .parallaxer-container:nth-child(even) .product-info-box {
	float: left;
}
#products .parallaxer-container:nth-child(odd) .product-info-box {
	float: right;
}
#products .parallaxer-container:nth-child(even) .product-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -32px;
	background-color: #fff;
	padding: 10px 0;
}
#products .parallaxer-container:nth-child(odd) .product-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -25px;
	background-color: #fff;
	padding: 10px 0;
}
.product-icon img {
	min-width: 60px;
	min-height: 60px;
}
.more-products {
	position: relative;
	padding: 25px 0;
}
.offerings-container {
	border: 2px solid #c1a525;
	padding: 50px 0 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.offering:first-child {
	border-right: 2px solid #c1a525;
}
.more-products h2 {
	position: absolute;
	top: 12px;
	padding: 0 25px;
	background-color: #fff;
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	line-height: 1em;
}
.offering {
	display: flex;
	flex-basis: 50%;
	position: relative;
	z-index: 12;
	flex-direction: column;
	text-align: center;
	padding: 5px 20px;
}
section#news {
	background-image: url(../img/squares-texture.jpg);
	padding: 50px 0;
}
.news-articles-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 50px 0 0;
	flex: 1;
}
.news-article {
	background-color: #fff;
	box-shadow: 0 0 15px #999;
	margin-bottom: 2.5%;
}
.news-article img {
	margin: auto;
	display: block;
	padding:  15px;
}
.news-article.half:first-child {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
}
.news-article:first-child .news-article-inner {
	flex-wrap: nowrap;
}
.news-article.full img {
	background-color: #fff;
}
.news-article img {
	max-width: 100%;
}
.news-article.half:first-child .article-content, .news-article.half:first-child .pub-logo {
	flex-basis: 50%;
}
.pub-logo {
	align-self: center;
}
.news-article.half {
	flex-basis: 48.75%;
	display: flex;
}
img.square-logo {
	max-width: 200px;
}
.news-article-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
}
.news-article-inner img, .news-article-inner .article-content {
	flex-basis: 100%;
	flex-direction: column;
}
.list-builder .list-builder-para input {
	width: 100%;
}
.article-content {
	padding: 25px;
	background-color: #f2f5f7;
}
.article-content h3 {
	font-size: 22px;
	line-height: 1.25em;
}
.news-articles-container a, .cta-button, .wpcf7-submit {
	display: inline-block;
	padding: 10px 15px;
	background-color: #c1a525;
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	text-transform: uppercase;
	border: none;
}
.news-articles-container .news-article:nth-child(2) {
	margin-right: 2.5%;
}
.logo-container {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.logo-container li {
	list-style: none;
	flex-basis: 13.6%;
	text-align: center;
	padding: 30px 0;
	margin-right: 8%;
}
.logo-container li:last-child {
	margin-right: 0;
}
body .hamburger {
	padding: 0;
	right: 10%;
	height: 100%;
}
body .hamburger-box {
	height: auto;
	position: static;
}
.light-text {
	color: #fff;
}
footer {
	background-image: url(../img/footer-bg.jpg);
	background-size: cover;
	padding: 50px 0;
}
.half-col {
	float: left;
	flex-direction: column;
	flex-basis: 48%;
}
footer .inner {
	display: flex;
	flex-direction: row;
}
.footer-bottom .half-col:first-child, footer .half-col:first-child {
	margin-right: 4%;
}
.list-builder .input-container {
	display: block;
	width: 100%;
}
.list-builder input {
	padding: 13px 15px;
	border: none;
	font-family: proxima-nova, sans-serif;
	font-size: 13px;
	width: 50%;
}
.list-builder input, .list-builder .cta-button {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
body ul.social-media {
	padding: 0;
}
.social-media li {
	list-style: none;
	display: inline-block;
}
.social-media li a {
	padding: 0 10px;
	display: block;
	color: #666;
}
.social-media .fa {
	font-size: 20px;
}
.footer-bottom {
	background-color: #f3f3f4;
}
.footer-bottom .inner {
	padding: 15px 0;
	display: flex;
	flex-direction: row;
}
.footer-bottom p {
	margin: 0;
}
.footer-bottom .half-col:last-child {
	float: right;
	text-align: right;
}
.mobile-navigation ul {
	padding: 20px;
}
.mobile-navigation li {
	list-style: none;
}
.mobile-navigation a {
	padding: 10px 0;
	display: block;
	text-decoration: none;
	color: #333;
}
.page-title {
	position: absolute;
	top: -49px;
	text-align: center;
	width: 100%;
	z-index: 10;
}
.page-title:after {
	position: absolute;
	width: 100%;
	background-color: #fff;
	height: 40px;
	z-index: 10;
	top: 100%;
	content: '';
	left: 0;
}
.inquiry-form textarea, .inquiry-form input[type=text],.inquiry-form input[type=email] {
	width: 100%;
	padding: 10px;
	margin-bottom: 2%;
	border: 1px solid #c9c9c9;
}
.inquiry-form label:nth-child(3) input {
	margin-right: 0;
}
.page-title h1 {
	display: inline-block;
	background-color: #fff;
	padding: 5px 20px 0;
	box-shadow: 0 0 15px #555;
}
.inner-page h3 {
	margin: 15px 0 30px;
}
.fifty-fifty .half-col {
	width: 100%;
}
.inner-page .fifty-fifty h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
}
@media (max-width: 980px) {
	.fifty-fifty .half-col:first-child {
		margin-bottom: 25px;
	}
	.half-col-content:first-child {
		margin-bottom: 15px;
	}
	.icons-container .inner {
		flex-wrap: wrap;
	}
	.tagline {
		max-width: 75%;
	}
	.tagline h1 {
		font-size: 50px;
	}
}

@media (min-width: 981px) {
	.half-col-content.first {
		margin-right: 4%;
		
	}
	.list-builder-para {
		float: left;
	}
	.inquiry-form input[type=text],.inquiry-form input[type=email] {
		float: left;
		width: 32%;
		padding: 10px 15px;
		margin: 0 2% 2% 0;
	}
	.fifty-fifty .half-col:first-child {
		margin-right: 4%;
	}
	.fifty-fifty .half-col {
		width: 48%;
	}
	.half-col-content {
		width: 48%;
		float: left;
	}
}

@media (min-width: 1081px) {
	.hero {
		margin-bottom: -63px;
	}
}

@media (max-width: 768px) {
	.icon {
		padding: 2%;
		flex-basis: 48%;
	}
	.article-content h3 {
		font-size: 18px;
	}
	.logo, .shrink .logo {
		width: 200px;
	}
	.news-article:first-child .news-article-inner {
		flex-wrap: wrap;
	}
	body h2 {
		font-size: 25px;
		line-height: 1em;
	}
	.product-container .inner {
		padding: 0;
	}
	#products .product-container {
		padding: 25px 0;
	}
	.digi-verification.inner {
		top: auto;
		position: relative;
	}
	.digi-verification.inner h2 {
		top: auto;
		padding: 25px 5% 0;
	}
	.icons-container {
		padding: 25px 0;
	}
	body .icon h3 {
		padding: 0;
	}
}

@media (max-width: 568px) {
	.logo-container li {
		flex-basis: 40%;
		margin-right: 20%;
	}
	.logo-container li:nth-child(2n) {
		margin-right: 0;
	}
}

@media (max-width: 450px) {
	#products .parallaxer-container:nth-child(odd) .product-icon, #products .parallaxer-container:nth-child(even) .product-icon {
		left: 50%;
		right: auto;
		top: auto;
		bottom: -42px;
		transform: translateX(-50%);
		padding: 0 10px;
	}
	.tagline {
		max-width: 80%;
		top: auto;
		transform: none;
		bottom: 25px;
	}
	.tagline h1 {
		font-size: 30px;
	}
	.news-article.half:first-child .article-content, .news-article.half:first-child .pub-logo {
		flex-basis: 100%;
	}
	.news-article.half {
		flex-basis: 100%;
	}
	.news-articles-container .news-article:nth-child(2) {
	    margin-right: 0;
	}
	footer .half-col {
		flex-basis: 100%;
	}
	footer .half-col:first-child {
		margin-bottom: 25px;
	}
	#products .news-articles-container .news-article, #products .news-article.full img, #products .news-article.full .article-content, #products .news-articles-container .news-article:nth-child(2) {
		flex-basis: 100%;
		margin-right: 0;
	}
	.news-articles-container .news-article {
		margin-bottom: 5%;
	}
	.product-info-box {
		padding: 30px;
	}
	#products .parallaxer-container:nth-child(odd) .product-container, #products .parallaxer-container:nth-child(even) .product-container {
		width: 100%;
		background-size: 100%;
		background-position: top;
		height: 110%;
		
	}
	.product-container ~ .inner {
	    padding: 100px 0 50px;
	}
	#products .inner {
		padding-bottom: 50px;
	}
	#products .inner:first-child {
		padding-bottom: 25px;
	}
	.more-products h2 {
		top: 30px;
	}
	.more-products {
		padding: 50px 0 0;
	}
	.offerings-container, #products .more-products .inner {
		padding-bottom: 0;
	}
	.offering:first-child {
	    border-right: none;
		border-bottom: 2px solid #c1a525;
	}
	.offerings-container, footer .inner {
		flex-wrap: wrap;
	}
	.offering {
		padding-top: 25px;
		padding-bottom: 25px;
		flex-basis: 80%;
	}
	.footer-bottom .inner {
		flex-wrap: wrap;
	}
	.footer-bottom .half-col, .footer-bottom .half-col:last-child {
		float: none;
		flex-basis: 100%;
		text-align: center;
	}
	.footer-bottom .half-col {
		order: 2;
	}
	.footer-bottom .half-col:last-child {
		order: 1;
		margin-bottom: 15px;
	}
}

@media (max-width: 812px) and (orientation: landscape) {
	.news-article.full .article-content {
		flex-basis: 100%;
		margin-right: 0;
	}
	.product-info-box {
		max-width: 300px;
	}
}

@media (max-width: 1024px) {
	.news-article.full .article-content {
		flex-basis: 100%;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.icon img[src*=".svg"] {
		width: 100%; 
		width: 50px;
		height: 50px;
	}
	.hero video {
		width: 100%;
		height: auto;
	}
}

@media (max-device-width: 1024px) {
	.hero {
		padding-bottom: 56.25%;
		height: 0;
	}
}

@media (min-width: 1600px) {
	.tagline {
		max-width: 60%;
	}
	.tagline h1 {
		font-size: 100px;
	}
}

@media (max-width: 1080px) {
	.navigation {
		display: none;
	}
	.mobile-navigation, body .hamburger {
		display: block;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
